{% extends '/common/base.html' %}
{% block sub_title %}
材料の用意
{% endblock %}
{% block script %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    var riElements = $('.ri-element');
    var riElementNum = riElements.length;
    var currentIdx = 0
    var lastIdx = -1
    socket.on('weight', function(weight) {
      $('#weight').text(weight);
    });
    socket.on('next-btn', function() {
      console.log('next-btn is pushed ' + currentIdx);
      stopSpeech();
      if (riElements[currentIdx] != null) {
        // remove last element highlight
        if (riElements[lastIdx] != null) {
          $("#" + riElements[lastIdx].id).removeClass("bg-primary");
        }
        // speech ingredient
        var element = $("#" + riElements[currentIdx].id);
        if (element.data("weight") != "") {
          speech(element.data("name") + element.data("weight") + "グラムを用意してください");
        } else {
          speech(element.data("name") + "を用意してください");
        }
        // hide description image if first
        $("#ingredient-desc").hide();
        // show current element hightlight and weight
        $("#" + riElements[currentIdx].id).addClass("bg-primary");
        $("#ingredient-weight").removeClass("d-none");
        // update cursor index
        lastIdx = currentIdx;
        currentIdx ++;
      } else if (currentIdx == riElementNum) {
        window.location.href = "{{ url_for('procedure', step_id=current_step + 1, rid=recipe.id) }}";
      }
    });
    socket.on('reset-btn', function() {
      console.log('reset-btn is pushed ' + currentIdx);
    });
    speech("材料の用意");
    showNextBtn();
    $('#next-btn').click(function (event){
      $.post("{{ url_for('next') }}");
    });
    $('#reset-btn').click(function (event){
      $.post("{{ url_for('reset') }}");
    });
  });

</script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="py-3">
    <h4>ステップ {{ current_step }}/{{ max_step }}</h4>
    {% include "parts/progress.html" %}
    <h2>材料の用意</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm my-auto">
      <div id="ingredient-desc" class="">
      <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/recipes' + recipe.ingredient_image) }}">
      </div>
      <div id="ingredient-weight" class="align-middle d-none">
      <h5 class="text-center">重さ</h5>
        <p class="display-3 text-center"><span id="weight">0</span>g</p>
      </div>
    </div>
    <div class="col-sm">
      <h4 class="text-center">材料一覧 (1人分)</h4>
      <div>
        <table class="table table-bordered table-sm">
          <tbody>
          {% for ri in recipe.ingredients %}
            <tr id="ri-{{ loop.index }}" class="ri-element" data-name="{{ ri.ingredient.name }}" data-weight="{{ ri.weight if ri.weight else '' }}">
              <td>{{ ri.ingredient.name }}</td>
              <td>{% if ri.weight or ri.count %}{{ ri.weight or ri.count }}{{ ri.ingredient.unit or 'g' }}{% endif %}</td>
              <td>{{ ri.comment or '' }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!--/container -->
{% endblock %}
