{% extends '/common/base.html' %}
{% block sub_title %}
材料の用意
{% endblock %}
{% block script %}

<script src="{{ url_for('static', filename='js/ingredient.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="py-3">
    <h4>ステップ {{ current_step }}/{{ max_step }}</h4>
    {% include "parts/progress.html" %}
    <h2>材料の用意</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm my-auto">
      <div id="ingredient-desc" class="">
      <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/recipes' + recipe.ingredient_image) }}">
      </div>
      <div id="ingredient-weight" class="align-middle d-none">
      <h5 class="text-center">重さ</h5>
        <p class="display-3 text-center"><span id="weight">0</span><span id="weight-slash"></span><span id="target-weight"></span></p>
      </div>
    </div>
    <div class="col-sm">
      <h4 class="text-center">材料一覧 (1人分)</h4>
      <div>
        <table id='ri-table' data-rid="{{ recipe.id }}" class="table table-bordered table-sm">
          <tbody>
          {% for ri in recipe.ingredients %}
            <tr id="ri-{{ loop.index }}" class="ri-element" data-name="{{ ri.name }}" data-weight="{{ ri.weight if ri.weight else '' }}">
              <td>{{ ri.name }}</td>
              <td>{% if ri.weight or ri.count %}{{ ri.weight or ri.count }}{{ ri.unit or 'g' }}{% endif %}</td>
              <td>{{ ri.comment or '' }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include 'parts/button.html' %}
</div><!--/container -->
{% endblock %}
